@page "/"
@using H5ServerSide_ToDoList.Codes.Services
@using H5ServerSide_ToDoList.Data
@using H5ServerSide_ToDoList.Data.Models.Entities
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity


@* @attribute [Authorize(Policy ="AuthenticateUser")] *@
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <CPRRegister />
    </Authorized>
    <NotAuthorized>
        <div>Ikke logget ind.</div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
}


